#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements.  See the NOTICE file distributed with
#   this work for additional information regarding copyright ownership.
#   The ASF licenses this file to You under the Apache License, Version 2.0
#   (the "License"); you may not use this file except in compliance with
#   the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# Abdera Properties

#
# The Factory is used to create instances of Feed Object
# Model objects.  Applications can plug in their own
# implementations of the Feed Object Model in order
# to make adapting to application specific object models
# easier and more efficient.  
#
# The Default Factory can be set in one of four ways
#  - Using the org.apache.abdera.model.Factory System property
#  - Using the org.apache.abdera.model.Factory configuration option below
#  - Using META-INF/services
#  - Using the default implementation that ships with the Adbera Parser 
#
#org.apache.abdera.factory.Factory=org.apache.abdera.parser.stax.FOMFactory

#
# The Parser is the component used to actually parse feeds and produce
# instances of the object model.  The default parser implementation is
# based on the Stax API and Apache AXIOM .  Applications can plug in 
# their own implementations. Typically, the Parser and the Factory are
# VERY closely related to one another.  If you change one, you'll likely
# need to change the other.
#
#org.apache.abdera.parser.Parser=org.apache.abdera.parser.stax.FOMParser

#
# The Filter Policy is the component used to filter out unwanted or unsafe
# text and content from a parsed Atom entry. The default filter policy is to
# allow all content.
#
#org.apache.abdera.filter.FilterPolicy=org.apache.abdera.filter.DefaultFilterPolicy

#
# XPath implementation (likely will be dependent on the parser implementation)
#
#org.apache.abdera.xpath.XPath=org.apache.abdera.parser.stax.FOMXPath
