<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:a="http://abdera.apache.org"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://abdera.apache.org http://abdera.apache.org/schemas/abdera-spring.xsd">

  <!-- Abdera -->

  <a:provider>
    <a:workspaceManager>
      <bean class="org.apache.abdera.protocol.server.provider.basic.BasicProvider"/>
    </a:workspaceManager>
  </a:provider>

  <a:provider>
    <a:workspace title="Foo Workspace">
      <!-- These are our collections -->
      <bean class="org.apache.abdera.spring.TestAdapter"/>      
      <ref bean="referencedAdapter"/>
    </a:workspace>
    
    <!-- It is not necessary to specify this, but we're testing it -->
    <a:targetResolver>
      <a:regexTargetResolver>
        <a:collection>/atom/feed(\?[^#]*)?</a:collection>
        <a:entry>/atom/feed/([^/#?]+)(\?[^#]*)?</a:entry>
        <a:service>/atom(\?[^#]*)?</a:service>
      </a:regexTargetResolver>
    </a:targetResolver>
    <a:filter>
      <bean class="org.apache.abdera.spring.DummyFilter"/>
    </a:filter>
    <a:filter ref="referencedFilter"/>
  </a:provider>
  
  <bean id="referencedAdapter" class="org.apache.abdera.spring.TestAdapter"/>
  <bean id="referencedFilter" class="org.apache.abdera.spring.DummyFilter"/>

</beans>